extends layout 

block layout-content
    h1 About Grocery Mart 
    p We offer fresh groceries - everytime!
    img(src="img/02.jpg", alt="Sliced carrots and green vegetable") 
    //- Image taken from unsplash: https://unsplash.com/photos/sliced-carrots-and-green-vegetable-bRdRUUtbxO0
    p An initiative taken by a few students to make fresh food available for everyone. 
    p Currently open near Humber College