header#header 
  h2#site-name 
    a(href="/") Mongoose Test
  div 
    if (user)
      nav(aria-label="User menu")
        ul 
          li: a(href="/user") Account 
          li: a(href="/logout") Logout 
    else 
      a(href="/login") Login
