doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title My first Express app
    body
        header#header
            h2#site-name 
                a(href="/") Express site 
            main#main 
                h1 Hello, world! 
            footer#footer 
                p &copy; Copyright HTTP5222, 2025